body {
    background-color: hsl(234, 29%, 20%);
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-container {
    margin-top: 5%;
    width: 60%;
    background-color: white;
    border-radius: 5%;
    padding: 0%;

    font-family: 'Roboto', sans-serif;  
    
    display: inline-flex;
}

.main-body {
    text-align: justify;
    width: 50%;
    padding: 5%;
    
    margin: 0;
}

.illustration{
    height: 10%;
}

h1{
    color: hsl(235, 18%, 26%);
}

h4 {
    color: hsl(235, 18%, 26%);
    margin: 0;
    margin-top: 5%;
}

.features {
    display: grid;
    grid-template-columns: 50px 1000px;
}

.features svg{
    padding-top: 30%;
}

form input {
    margin-top: 2%;
    margin-bottom: 5%;
    width: 60%;
    height: 35px;
    border-radius: .25rem;
    border: black solid 0.5px ;
}

form button {
    background-color: hsl(4, 100%, 67%);
    border: none;
    border-radius: 5%;
    padding: 2%;
    width: 61%;
    height: 36px;
}


.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: hsl(4, 100%, 67%);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: hsl(4, 100%, 63%);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}